{% extends 'base.html.twig' %}

{% block title %}{{ property.title }} - HostMe Clone{% endblock %}

{% block body %}
    <div {{ react_component('PropertyDetails', { 
        propertyId: property.id,
    }) }}></div>
{% endblock %}
