{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div {{ react_component('WishlistDetails', {
        wishlistId: wishlistId,
    }) }}>
    </div>
{% endblock %}
