{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div {{ react_component('Profile', {
        user: app.user
    }) }}></div>
    {# {% if app.user %}
    <p>Bonjour, {{ app.user.email }} !</p>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
    {% endif %} #}
{% endblock %}
