{% extends 'base.html.twig' %}

{% block title %}Unauthorized{% endblock %}

{% block body %}
    <div {{ react_component('Header') }}></div>
    <div {{ react_component('Unauthorized') }}></div>
    <div {{ react_component('Footer') }}></div>
{% endblock %}
